{% extends "layout.html" %}
{% block content %}
    {% for post in posts.items %}   <!-- Pagination -->
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">  <!--# 원래 있던 스타일에서 저장된 사진 -->
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ post.author.username }}</a> <!-- mr = margin right 2 -->
                    <small class="text-muted">{{ post.date.strftime('%Y-%m-%d') }}</small>  <!-- # 연월일 만 display -->
                </div>
                <h2><a class="article-title" href="{{ url_for('post', post_id=post.id)  }}">{{ post.title }}</a></h2>   <!-- # 이동 x  // 타이틀을 클릭하면 그 post.id로 이동-->
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
    {% for page_num in posts.iter_pages() %}  <!-- iter 을 넣어서 페이지를 이전,다음으로 이동하는 기준 가짐   -->
        {% if page_num %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=page_num) }}"> {{ page_num }} </a>
        {% else  %}
            ...
        {% endif %}
    {% endfor %}
{% endblock content %}